/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.nombre-sitio span {
    color: #037bc0;
}

/*** Box Model ***/
.sobre-nosotros {
    background-color: red;
}


